#divin {
    width: 200px; /* largeur de 200 pixels */
    height: 400px; /* hauteur de 150 pixels */

    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #F0F0F0;
    //background-color: #2196F3;
    padding: 10px;
}

#values {
    width: 400px; /* largeur de 200 pixels */
    height: 250px; /* hauteur de 150 pixels */

    background-color: #F0FEF0;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.led {
    display: inline-block;
    width : 25px;
    height : 25px;
    background: green;
    border-radius: 100%;
}

.cellule {
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    /*align-items: center; /* Centrer verticalement */
}


.doubleBorder {
    border: solid; /* double;*/
}
 
.singleBorder {
    border: solid;
}
