body {
  width: 1000px; /* Largeur de la fenêtre principale */
  height: 800px; /* Hauteur de la fenêtre principale */
  resize: none;
  /* Autres styles */
}

#divBoutonLed {
    width: 200px; /* largeur de 200 pixels */
    height: 400px; /* hauteur de 150 pixels */
    position: absolute;

    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    background-color: #F0F0F0;
    //background-color: #2196F3;
    padding: 10px;
}

#divValues {
    width: 250px; /* largeur de 200 pixels */
    height: 150px; /* hauteur de 150 pixels */
    position: absolute;

    background-color: #F0FEF0;
    display: grid;
    grid-template-columns: auto auto;/* nom valeurActuelle  */
    padding: 10px;
}

#divConsignes {
    width: 450px; /* largeur de 200 pixels */
    height: 210px; /* hauteur de 150 pixels */
    position: absolute;

    background-color: #FEF0F0;
    display: grid;
    grid-template-columns: auto auto auto; /* nom valeurActuelle valeurAMettre */
    padding: 10px;
}

.labelOutput {
    text-align: center;
}

.inputCell {
    width: 60px;
    height: 15px;
    align: center;
}

#goBtn {
    position: absolute;
}

.led {
    display: inline-block;
    width : 15px;
    height : 15px;
    background: #D0D0D0;
    border-radius: 100%;
}

.boutonLed {
    display: inline-block;
    width : 25px;
    height : 25px;
    background: #D0D0D0;
    border-radius: 100%;
}

.on {
    background: green;
}
.off {
    background: red;
}

#temoin {
    display: inline-block;
    width : 15px;
    height : 15px;
    background: #1234AB;
    border-radius: 100%;
    position: absolute;
}

.cellule {
    display: flex; /* Utilisation de flexbox pour centrer le contenu */
    /*align-items: center; /* Centrer verticalement */
}

